<div class="clr-row">
    <div class="clr-col-12">
        <a routerLink="/">
            <clr-icon shape="undo"></clr-icon> &nbsp; <small>Tillbaka</small>
        </a>
    </div>
</div>

<div class="clr-row">
    <div class="clr-col-12">
        <div class="card">
            <div class="card-header">
                Git Log
            </div>
            <div class="card-block">
                <div class="card-text">
                    <div *ngFor="let log of gitLogs" class="entry">
                        <div class="clr-row commit-log">
                            <div class="clr-col-12">
                                <h4>{{ log.message }}</h4>
                            </div>
                            <div class="clr-col-12">
                                <small><a href="https://github.com/Jojjeboy/clearResults/commit/{{ log.commithash }}">{{ log.commithash }}</a></small>
                            </div>
                            <div class="clr-col-6 time-ago">
                                <small>{{ log.date | timeago }}</small>
                            </div>

                            <div class="clr-col-6">
                                <small class="pull-right">{{ log.date | date: 'EEEE, d MMMM, y' }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>