@import "./../../assets/styles/variables";

.card-block {
    form {
        .clr-row {
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #cacaca;
            position: relative;
            &:last-child {
                border-bottom: none;
            }
            label {
                padding-left: 0;
            }
            input[type="date"],
            input[type="datetime-local"] {
                border: none;
            }
            input[type="number"] {
                border: none;
                width: inherit;
                outline: none;
            }

            .clear-history {
                padding-top: 20px;
                text-align: center;
                button {
                    color: $dangerColor;
                }
            }
            .action-history {
                position: absolute;
                right: 20px;
                top: 20px;
                .close {
                    color: $dangerColor;
                }
                .add {
                    color: #ccc;
                    &.valid{
                        color: $successColor;
                    }
                }

            }
        }
    }
}
