<div class="clr-row" *ngIf="editMode">
    <div class="clr-col-12" (click)="discard()">
        <clr-icon shape="undo"></clr-icon> &nbsp; <small>Tillbaka</small>
    </div>
</div>
<h1>{{ editMode ? 'Redigera' : 'Skapa ny' }}</h1>

<div class="card">
    <div class="card-block">
        <div class="card-text">
            <form clrForm class="clr-row">
                <div class="clr-col-12">
                    <clr-input-container>
                        <label for="name">Titel</label>
                        <input clrInput type="text" [(ngModel)]="tally.name" name="name" id="name"
                            required />
                        <clr-control-error>Här måste det finnas ett värde</clr-control-error>
                    </clr-input-container>
                </div>
                <div class="clr-col-6">
                    <clr-input-container>
                        <label for="increaseBy">Öka</label>
                        <input clrInput type="number" placeholder="10" [(ngModel)]="tally.increseBy"
                            name="increseBy" id="increseBy" required />
                        <clr-control-error>Här måste det finnas ett värde</clr-control-error>
                    </clr-input-container>
                </div>
                <div class="clr-col-6">
                    <clr-input-container>
                        <label for="decreseBy">Minska</label>
                        <input clrInput type="number" placeholder="10" [(ngModel)]="tally.decreseBy"
                            name="decreseBy" required />
                        <clr-control-error>Här måste det finnas ett värde</clr-control-error>
                    </clr-input-container>
                </div>
                <div class="clr-col-6">
                    <clr-input-container>
                        <label for="value">Värde</label>
                        <input clrInput type="number" placeholder="0" [(ngModel)]="tally.value"
                            name="value" required />
                        <clr-control-error>Här måste det finnas ett värde</clr-control-error>
                    </clr-input-container>
                </div>
                <div class="clr-col-6">
                    <clr-input-container>
                        <label for="goal">Mål</label>
                        <input clrInput type="number" placeholder="100" [(ngModel)]="tally.goal"
                            name="goal" required />
                        <clr-control-error>Här måste det finnas ett värde</clr-control-error>
                    </clr-input-container>
                </div>

                <div class="clr-col-6">
                    <clr-input-container>
                        <label for="topScore">Högsta värdet</label>
                        <input clrInput type="number" placeholder="0" [(ngModel)]="tally.topScore"
                            name="topScore" required />
                        <clr-control-error>Här måste det finnas ett värde</clr-control-error>
                    </clr-input-container>
                </div>
                <div class="clr-col-6"></div>


                <div class="clr-col-6 resetEveryDay">
                    <span>Nollställ varje dag</span>
                    <div class="radio btn">
                        <input type="radio" [checked]="tally.getResetEveryday()" name="btn-group-demo-radios" (click)="resetEveryDay(true)" id="btn-demo-radio-1">
                        <label for="btn-demo-radio-1">Ja</label>
                    </div>
                </div>
                <div class="clr-col-6 resetEveryDay">
                    <span>&nbsp;</span>
                    <div class="radio btn">
                        <input type="radio" [checked]="!tally.getResetEveryday()" name="btn-group-demo-radios" (click)="resetEveryDay(false)" id="btn-demo-radio-4">
                        <label for="btn-demo-radio-4">Nej</label>
                    </div>
                </div>


                <div class="clr-col-12">
                    <span class="success status-badge block" *ngIf="tally.getActive()"
                        (click)="toggleActive()">Aktiv</span>
                    <span class="danger status-badge block" *ngIf="!tally.getActive()"
                        (click)="toggleActive()">Inaktiv</span>
                </div>
            </form>
        </div>
    </div>
    <div class="card-footer">
        <div class="clr-row">
            <div class="clr-col-6">
                <a routerLink="/tally/{{ tally.getUuid() }}" class="btn btn-danger-outline block">Ångra</a>
            </div>
            <div class="clr-col-6">
                <button [disabled]="!valid()" class="btn btn-success-outline block" (click)="save()">{{ editMode ? 'Uppdatera' : 'Spara' }}</button>
            </div>
        </div>
    </div>
</div>