<!--<app-tally *ngFor="let tally of tallies" [showAll]="showAll" [tally]="tally" (tallyIncrese)="increse(tally)"
    (tallyDecrese)="decrese(tally)"></app-tally>-->

<div class="clr-row" *ngFor="let tally of tallies">
    <div class="clr-col-12">
        <div class="card">
            <div class="card-info">
                <div class="card-header">
                    <div class="header-main-text">
                        <a routerLink="/tally/{{ tally.getUuid() }}" class="block">{{ tally.getName() }}</a>
                    </div>
                    <div class="pull-right header-meta-text">
                        <clr-dropdown [clrCloseMenuOnItemClick]="false">
                            <button clrDropdownTrigger aria-label="Dropdown demo button">
                                <clr-icon shape="cog"></clr-icon>
                            </button>
                            <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
                                <label class="dropdown-header" aria-hidden="true">Dropdown header</label>
                                <div aria-label="Dropdown header Action 1" (click)="editTally()" clrDropdownItem>
                                    Redigera</div>
                                <div aria-label="Dropdown header Action 2" clrDropdownItem>Töm historik</div>
                                <div aria-label="Dropdown header Action 2" clrDropdownItem>Inaktivera</div>
                                <div class="dropdown-divider" role="separator" aria-hidden="true"></div>
                                <div clrDropdownItem class="warning-text">Radera</div>
                            </clr-dropdown-menu>
                        </clr-dropdown>
                    </div>
                </div>
                <div class="card-block">
                    <div class="card-title">
                        Block
                    </div>
                    <div class="card-text">
                        <div aria-hidden="true">
                            <div>Container 1 loading Progress </div>
                            <progress class="progress-bar" max="100" [value]="calculatePercentage(tally)"
                                data-displayval="65%"></progress>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="clr-row">
                        <div class="clr-col-4">
                            <button class="btn btn-success-outline pull-left increse" (click)="increse(tally)">Öka</button>
                        </div>
                        <div class="clr-col-4 timeago"><small>
                                <clr-icon shape="clock"></clr-icon> &nbsp; {{ tally.getLastTouched() | timeago }}
                            </small>
                        </div>
                        <div class="clr-col-4">
                            <button class="btn btn-danger-outline pull-right decrese"
                                (click)="decrese(tally)">Minska</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="card-edit" *ngIf="editMode">

                <div class="card-block">
                    <div class="clr-row">
                        <div class="clr-col-12">
                            <form clrForm>
                                <span class="clr-sr-only">Tabbing through form inputs will trigger validation messages
                                    to be read aloud.</span>
                                <div class="clr-row">
                                    <div class="clr-col-12">
                                        <clr-input-container>
                                            <label>Titel</label>
                                            <input clrInput type="text" [(ngModel)]="tally.name" name="name" required />
                                            <clr-control-error>Du måste ha en titel!</clr-control-error>
                                        </clr-input-container>
                                    </div>
                                </div>
                                <div class="clr-row">
                                    <div class="clr-col-6">
                                        <clr-input-container>
                                            <label>Värde</label>
                                            <input clrInput type="phone" [(ngModel)]="tally.value" name="value" />
                                        </clr-input-container>
                                    </div>
                                    <div class="clr-col-6">
                                        <clr-input-container>
                                            <label>Mål</label>
                                            <input clrInput type="phone" [(ngModel)]="tally.goal" name="goal" />
                                        </clr-input-container>
                                    </div>
                                </div>
                                <div class="clr-row">
                                    <div class="clr-col-6">
                                        <clr-input-container>
                                            <label>Öka</label>
                                            <input clrInput type="phone" [(ngModel)]="tally.increseBy"
                                                name="increaseBy" />
                                        </clr-input-container>
                                    </div>
                                    <div class="clr-col-6">
                                        <clr-input-container>
                                            <label>Minska</label>
                                            <input clrInput type="phone" [(ngModel)]="tally.decreseBy"
                                                name="increaseBy" />
                                        </clr-input-container>
                                    </div>
                                </div>

                                <div class="clr-row resetEveryDay">
                                    <label>Nollställ varje dag</label>
                                    <div class="clr-col-6">
                                        <div class="btn-group">
                                            <div class="radio btn">
                                                <input type="radio" name="btn-group-demo-radios" id="btn-demo-radio-1">
                                                <label for="btn-demo-radio-1">Ja</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clr-col-6">
                                        <div class="radio btn">
                                            <input type="radio" name="btn-group-demo-radios" id="btn-demo-radio-4">
                                            <label for="btn-demo-radio-4">Nej</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="clr-row">
                        <div class="clr-col-4">
                            <button class="btn btn-danger-outline pull-left decrese" (click)="discard()">Ångra</button>
                        </div>
                        <div class="clr-col-4 timeago"><small>
                                <clr-icon shape="clock"></clr-icon> &nbsp; {{ tally.getLastTouched() | timeago }}
                            </small>
                        </div>
                        <div class="clr-col-4">
                            <button class="btn btn-success-outline pull-right update"
                                (click)="update()">Uppdatera</button>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>