<div class="clr-row" *ngFor="let tally of tallies" [class.inactive]="!tally.getActive()"
    [class.hideInactive]="!showAll && !tally.getActive()">
    <div class="clr-col-12">
        <div class="card">
            <div class="card-info">
                <div class="card-header">
                    <div class="header-main-text">
                        <a routerLink="/tally/{{ tally.getUuid() }}" class="block">{{ tally.getName() }}</a> <span
                            class="pull-right" *ngIf="!tally.getActive()"> Inaktiv</span>
                    </div>
                    <div class="pull-right header-meta-text">
                    </div>
                </div>
                <div class="card-block">
                    <div class="card-title">
                        Dynamiskt mål: 
                    </div>
                    <div class="card-text">
                        <div aria-hidden="true" class="clr-row progress-status-text">
                            <div class="clr-col-6">Avklarat: {{ calculatePercentage(tally) }}% </div>
                            <div class="clr-col-6"><span class="pull-right"> {{ tally.getValue() }} av {{
                                    tally.getGoal() }} </span> </div>
                        </div>
                        <div class="progress-static" [class.success]="tally.getValue() >= tally.getGoal()">
                            <div class="progress-meter" [attr.data-value]="calculatePercentage(tally)"></div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="clr-row">
                        <div class="clr-col-4">
                            <button class="btn btn-success-outline pull-left increase" [disabled]="!tally.getActive()"
                                (click)="increase(tally)">Öka</button>
                        </div>
                        <div class="clr-col-4 timeago"><small>
                                <clr-icon shape="clock"></clr-icon> &nbsp; {{ tally.getLastTouched() | timeago }}
                            </small>
                        </div>
                        <div class="clr-col-4">
                            <button class="btn btn-danger-outline pull-right decrese" [disabled]="!tally.getActive()"
                                (click)="decrese(tally)">Minska</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="card-edit" *ngIf="editMode">

                <div class="card-block">
                    <div class="clr-row">
                        <div class="clr-col-12">
                            <form clrForm>
                                <span class="clr-sr-only">Tabbing through form inputs will trigger validation messages
                                    to be read aloud.</span>
                                <div class="clr-row">
                                    <div class="clr-col-12">
                                        <clr-input-container>
                                            <label>Titel</label>
                                            <input clrInput type="text" [(ngModel)]="tally.name" name="name" required />
                                            <clr-control-error>Du måste ha en titel!</clr-control-error>
                                        </clr-input-container>
                                    </div>
                                </div>
                                <div class="clr-row">
                                    <div class="clr-col-6">
                                        <clr-input-container>
                                            <label>Värde</label>
                                            <input clrInput type="phone" [(ngModel)]="tally.value" name="value" />
                                        </clr-input-container>
                                    </div>
                                    <div class="clr-col-6">
                                        <clr-input-container>
                                            <label>Mål</label>
                                            <input clrInput type="phone" [(ngModel)]="tally.goal" name="goal" />
                                        </clr-input-container>
                                    </div>
                                </div>
                                <div class="clr-row">
                                    <div class="clr-col-6">
                                        <clr-input-container>
                                            <label>Öka</label>
                                            <input clrInput type="phone" [(ngModel)]="tally.increseBy"
                                                name="increaseBy" />
                                        </clr-input-container>
                                    </div>
                                    <div class="clr-col-6">
                                        <clr-input-container>
                                            <label>Minska</label>
                                            <input clrInput type="phone" [(ngModel)]="tally.decreseBy"
                                                name="increaseBy" />
                                        </clr-input-container>
                                    </div>
                                </div>

                                <div class="clr-row resetEveryDay">
                                    <label>Nollställ varje dag</label>
                                    <div class="clr-col-6">
                                        <div class="btn-group">
                                            <div class="radio btn">
                                                <input type="radio" name="btn-group-demo-radios" id="btn-demo-radio-1">
                                                <label for="btn-demo-radio-1">Ja</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clr-col-6">
                                        <div class="radio btn">
                                            <input type="radio" name="btn-group-demo-radios" id="btn-demo-radio-4">
                                            <label for="btn-demo-radio-4">Nej</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="clr-row">
                        <div class="clr-col-4">
                            <button class="btn btn-danger-outline pull-left decrese" (click)="discard()">Ångra</button>
                        </div>
                        <div class="clr-col-4 timeago"><small>
                                <clr-icon shape="clock"></clr-icon> &nbsp; {{ tally.getLastTouched() | timeago }}
                            </small>
                        </div>
                        <div class="clr-col-4">
                            <button class="btn btn-success-outline pull-right update"
                                (click)="update()">Uppdatera</button>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>

<div class="clr-row">
    <div class="clr-col-12">

    </div>
</div>

<div class="clr-row" *ngIf="!tallies.length">
    <div class="clr-col-12">
        <h1>Clear Results</h1>
        <small>Det verkar inte som du har några räknare</small>
        <hr />
        <a routerLink="/add" class="btn btn-success-outline block">Lägg till en räknare</a>
        <a routerLink="/example" class="btn btn-success-outline block">Lägg till exempel</a>
    </div>
</div>


<div class="clr-row add-row">
    <div class="clr-col-12">
        <a routerLink="/add" class="btn btn-success block">Skapa ny</a>
    </div>
</div>
<div class="clr-row">
    <div class="clr-col-12">
        <div class="clr-form-control" *ngIf="tallies.length">
            <div class="clr-control-container">
                <div class="clr-toggle-wrapper">
                    <input type="checkbox" id="toggle1" name="toggle-basic" [(ngModel)]="showAll"
                    (change)="eventCheck($event)" class="clr-toggle" />
                    <label for="toggle1">{{ showAll ? 'Dölj inaktiva' : 'Visa inaktiva' }}</label>
                </div>
            </div>
        </div>
    </div>
</div>