@import './../../assets/styles/variables';

.card-header {
    > div {
        display: inline;
    }

    a, a:visited {
        color: #00364d;
    }

    .header-meta-text {
        font-size: 0.8em;
        
        

        button {
            padding-right: 0;
        }
    }
}

.warning-text {
    color: $dangerColor;
}

.card-block {
    .progress-status-text {
        margin-bottom: 20px;
    }
    .progress-bar {
        width: 100%;
    }
}

.card-footer {

    .timeago {
        text-align: center;
        display: inline-block;
    }

    button.decrese,
    button.update {
        margin-right: 0;
    }
}