<div class="main-container">

  <!-- Alert -->
  <div class="alert alert-app-level alert-{{ alertType }}" *ngIf="showAlert">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
        </div>
        <div class="alert-text">
          {{ alertText }}
        </div>
      </div>
    </div>
  </div>

  <!-- Header -->
  <header class="header-6">
    <div class="branding">
      <a routerLink="/" class="nav-link">
        <span class="title">Clear Results <small class="appversion">{{ appVersion.revision }} {{ appVersion.date | date: 'd, MMMM hh:mm'  }}</small></span>
      </a>
    </div>

    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
          <clr-icon shape="view-list"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a routerLink="/add" clrDropdownItem>Lägg till ny räknare</a>
          <a routerLink="/example" clrDropdownItem>Lägg till exempel</a>
          <a (click)="clearCache()" clrDropdownItem>Rensa Local Storage</a>
          <a (click)="toggleShowAppVersion()" clrDropdownItem>{{ showAppVersion ? 'Göm' : 'Visa' }} version</a>
          
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>

  <div class="clr-row" *ngIf="showAppVersion">
    <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
        <div class="card">
  
            <div class="card-block">
                <div class="card-title">
                    <strong>Git version</strong>
                </div>
                <div class="card-text">
                    <p><small>App version: {{ appVersion.version }}<br />
                    App revision: {{ appVersion.revision }}<br />
                    App branch: {{ appVersion.branch }}<br />
                    Build date: {{ appVersion.date | date: 'd MMMM'  }}<br />
                  </small></p>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- Main content -->
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<clr-modal [(clrModalOpen)]="modal.open">
  <h3 class="modal-title">{{ modal.header }}</h3>
  <div class="modal-body">
    <p>{{ modal.body }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="modal.open = false">Ångra</button>
    <button type="button" class="btn btn-primary" (click)="clearCacheConfirmed()">Ok</button>
  </div>
</clr-modal>


