<div class="main-container">

  <!-- Alert -->
  <div class="alert alert-app-level alert-info" *ngIf="false">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
        </div>
        <div class="alert-text">
          App Level Alert
        </div>
      </div>
    </div>
    <button type="button" class="close" aria-label="Close">
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
  </div>


  <!-- Header -->
  <header class="header-6">
    <div class="branding">
        <a href="..." class="nav-link">
            <span class="title">Clear Results</span>
        </a>
    </div>
    <div class="header-actions">
        <clr-dropdown>
            <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
                <clr-icon shape="cog"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a href="..." clrDropdownItem>About</a>
                <a href="..." clrDropdownItem>Preferences</a>
                <a href="..." clrDropdownItem>Log out</a>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
</header>



  <!-- Main content -->
  <div class="content-container">

    <div class="content-area">asdasd
      
      <div class="clr-row">
        <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
            <div class="card">
                <div class="card-header">
                    Header
                </div>
                <div class="card-block">
                    <div class="card-title">
                        Block
                    </div>
                    <div class="card-text">
                        ...
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-link">Footer Action 1</button>
                    <button class="btn btn-sm btn-link">Footer Action 2</button>
                </div>
            </div>
        </div>
    </div>
      
      
      <!--router-outlet></router-outlet-->
    </div>
  </div>
</div>