@import './../../assets/styles/variables';

.clr-row.tally-meta {
    margin-bottom: 20px;
    .clr-col-6 {
        background: #fff;
        padding: 20px;
        border: 1px solid #e6e6e6;
        border-right: none;
        
        &:last-child {
            border-radius: 3px;
            border: 1px solid #e6e6e6;
        }
    }


    h4 {
        margin-top: 0;
    }
}

h3.modal-title::first-letter {
    text-transform: capitalize;
}

.warning {
    color: $dangerColor;
}

.success {
    color: $successColor;
}