.card-header {
    > div {
        display: inline;
    }

    .header-meta-text {
        font-size: 0.8em;

        button {
            padding-right: 0;
        }
    }

    .warning-text {
        color: #ff0000
    }
}

.card-block {
    .progress-bar {
        width: 100%;
    }
}

.card-footer {

    .timeago {
        text-align: center;
        display: inline-block;
    }

    button.decrese,
    button.update {
        margin-right: 0;
    }
}



.card-edit {
    form {
        .resetEveryDay div {
            width: 100%;
        }
    }
    .clr-row{
        margin-bottom: 20px;
    }
}