<div class="container">

  

    <h1>Angular FormArray Example - HDTuto.com</h1>
  
    
  
    <form [formGroup]="historyForm" (ngSubmit)="onSubmit()">
  
      
  
      
  
      <table class="table table-bordered" formArrayName="histories">
  
        <tr>
  
          <th colspan="2">Add Multiple Quantity:</th>
  
          <th width="150px"><button type="button" (click)="addHistory()" class="btn btn-primary">Add More</button></th>
  
        </tr>
  
        <tr *ngFor="let quantity of histories().controls; let i=index" [formGroupName]="i">
  
          <td>
  
              Datum :
  
              <input type="datetime-local" max="{{ yesterday }}" formControlName="date" class="form-control">
  
          </td>
  
          <td>
  
              Värde:
  
              <input type="number" formControlName="value" class="form-control">
  
          </td>
  
          <td>
  
              <button (click)="removeHistory(i)" class="btn btn-danger">Remove</button>
  
          </td>

        </tr>
  
      </table>
  
     
  
      <button type="submit" class="btn btn-success">Submit</button>
  
      
  
    </form>
  
      
  
    <br/>
  
    <pre>{{this.historyForm.value | json}}</pre>
  
  </div>