<div class="clr-row">
    <div class="clr-col-12">
        <a routerLink="/tally/{{ tally.getUuid() }}">
            <clr-icon shape="undo"></clr-icon> &nbsp; <small>Tillbaka</small>
        </a>
    </div>
</div>

<div class="clr-row">
    <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
        <div class="card">
            <form class="container" [formGroup]="historyForm" (ngSubmit)="onSubmit()">
                <div formArrayName="histories">
                    <div class="card-header">
                        {{ tally.getTitle() }}
                        <span>
                            <div (click)="addHistory()"
                                class="btn btn-sm btn-outline-success add-new-history pull-right">Lägg till</div>
                        </span>
                    </div>
                    <div class="card-block">
                        <div class="card-text">
                            <div class="clr-row" *ngFor="let history of histories().controls; let i=index"
                                [formGroupName]="i">
                                <div class="clr-col-7">
                                    <span class="col-header p3">Datum</span><br />
                                    <input type="date" max="{{ yesterday }}" formControlName="date"
                                    (ngModelChange)="dateChange($event, i)" class="form-control" />
                                </div>
                                <div class="clr-col-3">
                                    <span class="col-header p3">Värde</span><br />
                                    <input type="number" formControlName="value" class="form-control">
                                </div>
                                <div class="clr-col-1">
                                    <div class="action-history" (click)="removeHistory(i)">
                                        <clr-icon class="close" shape="window-close"></clr-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="clr-row">
                            <div class="clr-col-6">
                                <a routerLink="/tally/{{ tally.getUuid() }}"
                                    class="btn btn-danger-outline block">Ångra</a>
                            </div>
                            <div class="clr-col-6">
                                <button class="btn btn-success-outline block" type="submit">Spara</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




<!--<div class="container">



    <h1>Angular FormArray Example - HDTuto.com</h1>



    <form [formGroup]="historyForm" (ngSubmit)="onSubmit()">





        <table class="table table-bordered" formArrayName="histories">

            <tr>

                <th colspan="2">Add Multiple Quantity:</th>

                <th width="150px"><button type="button" (click)="addHistory()" class="btn btn-primary">Add More</button>
                </th>

            </tr>

            <tr *ngFor="let quantity of histories().controls; let i=index" [formGroupName]="i">

                <td>

                    Datum :

                    <input type="datetime-local" max="{{ yesterday }}" formControlName="date" class="form-control">

                </td>

                <td>

                    Värde:

                    <input type="number" formControlName="value" class="form-control">

                </td>

                <td>

                    <button (click)="removeHistory(i)" class="btn btn-danger">Remove</button>

                </td>

            </tr>

        </table>



        <button type="submit" class="btn btn-success">Submit</button>



    </form>



    <br />

    
</div>-->

<app-modal [modalData]="dateAlreadyExistModalData" (parentEvent)="dateAlreadyExistConfirmed()"></app-modal>

<app-modal [modalData]="cleanHistoryConfirmedModalData" (parentEvent)="cleanHistoryConfirmed()"></app-modal>
