/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/variables";

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

h1 {
    margin-top: 5px;
}

hr {
    border-top: 1px solid #e8e8e8;
    margin: 20px 0;
}

span.status-badge {
    padding: 8px 15px;
    border-radius: 3px;
    text-transform: uppercase;
    margin: 15px 0;
    display: inline-block;

    &.block {
        display: block;
        text-align: center;
    }

    &.success {
        border: 1px solid $successColor;
        color: $successColor;
    }

    &.danger {
        border: 1px solid $dangerColor;
        color: $dangerColor;
    }
}

.btn.block {
    display: block;
    text-align: center;
    width: 100%;
}

a,
.link-color,
a:visited,
a:hover,
a:active {
    color: #00364d;
    text-decoration: none;
}

.warning {
    color: $dangerColor;
}

.success {
    color: $successColor;
}

.clr-col-12.clear-history{
    padding-top: 15px;
    text-align: center;
    button {
        color: $dangerColor;
    }
}